$gray: #DEDEDE;
$light-gray: #F5F5F5;
$dark-gray: #353535;

$blue: #56B5DB;
$light-blue: #89C6E5;
$dark-blue: #008ACA;

$pink: #E83851;
$light-pink: #F18897;

$orange: #E07F20;
$light-orange: #EFBF8F;

$green: #ADB72C;
$light-green: #CED480;
