$gray: #DEDEDE;
$light-gray: #EFEFEF;
$dark-gray: #353535;

$light-blue: #89C6E5;
$dark-blue: darken($light-blue, 25%);

$light-purple: #CBB6E4;
$dark-purple: darken($light-purple, 25%);

$light-orange: #EFBF8F;
$dark-orange: darken($light-orange, 25%);

$light-green: #CED480;
$dark-green: darken($light-green, 25%);
