@function set-lightness($color, $lightness) {
    @return hsl(hue($color), saturation($color), $lightness)
}
@function very-light($color) {
    @return set-lightness($color, 93%)
}
@function light($color) {
    @return set-lightness($color, 80%)
}
@function dark($color) {
    @return set-lightness($color, 45%)
}

$gray: #DEDEDE;
$light-gray: #EFEFEF;
$dark-gray: #353535;

$blue: #89C6E5;
$light-blue: light($blue);
$dark-blue: dark($blue);

$purple: #CBB6E4;
$light-purple: light($purple);
$dark-purple: dark($purple);

$orange: #EFBF8F;
$light-orange: light($orange);
$dark-orange: dark($orange);

$green: #CED480;
$light-green: light($green);
$dark-green: dark($green);

$yellow: #D0A900;
$light-yellow: light($yellow);
$dark-yello: dark($yellow);
