body {
    color: $dark-gray;
    background-color: $light-gray;
    margin: 0;
    padding-bottom: 3.2em;
    font-family: 'OpenSans', sans-serif;
    font-size: 100%;
    min-height: calc(100vh - 3.2em);
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1em 0;
    line-height: 1.2em;
    background-color: $dark-gray;
    color: $light-gray;

    a {
        color: inherit;
    }
}

h2 {
    text-align: center;
    margin: 1.5em 0 1em 0;
    font-size: 1.5em;
}

p.center {
    text-align: center;
    margin: 2em 0;
}

#content {
    margin: 0;
}

.hContainer {
    padding: 0.5em;
    max-width: 103em;
    margin: auto;
}

#give {
    background: white;

    #file-input {
        display: none;
    }
    #file-input + label {
        padding: 0.5em 2em;
        border: none;
        border-radius: 0.25em;
        color: white;
        background-color: $dark-blue;
        text-transform: uppercase;
        font: inherit;
        font-weight: bold;
        cursor: pointer;
    }
}

hr {
    display: block;
    height: 0;
    width: 0;
    margin: 0 auto -1em auto;
    border-style: solid;
    border-width: 2em 2em 0 2em;
    border-color: white transparent transparent transparent;
}

button {
    padding: 0.5em 2em;
    margin: 0 0.5em;
    border: none;
    border-radius: 0.25em;
    color: white;
    background-color: $dark-blue;
    text-transform: uppercase;
    font: inherit;
    font-weight: bold;
}

a {
    color: $dark-blue;
    text-decoration: underline;
}

.inputDiv {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    width: 25em;
    margin: 0 1em 1.25em 0;
    padding: 0;
    line-height: 1.2em;
    background-color: white;
    border-style: solid;
    border-width: 0 0 0.2em 0;
    border-color: $light-gray;

    input {
        width: 100%;
        min-width: 5em;
        border: none;
        padding: 0.5em;
        background-color: transparent;
        font: inherit;
        text-overflow: ellipsis;
    }
    input:focus {
        outline: 0;
    }
    .key {
        margin: 0;
        padding: 0.5em;
        font-weight: bold;
        background-color: $light-gray;
        border-radius: 0.25em 0 0 0;
    }
    button {
        background-color: transparent;
        width: auto;
        height: auto;
        padding: 0.5em 0.5em 0.5em 0;
        margin: 0;
        font: inherit;
        font-weight: bold;
        color: $dark-blue;
        text-transform: uppercase;
    }
    button:disabled {
        color: $gray;
    }
    button img {
        vertical-align: text-top;
        height: 1.2em;
    }
    button:disabled img {
        opacity: 0.2;
    }
}

