div.object {
    label.objectButton {
        display: inline-block;
    }

    label.objectButton span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5ex;
        width: 5ex;
        margin: 0.2ex;
        border: none;
        border-radius: 0.25em;
        text-align:center;
        background-color: $light-gray;
        color: $dark-gray;
        font: 1em;
        text-transform: uppercase;
        font-weight: bold;
    }

    label.objectButton input {
        display: none;
    }

    label.objectButton input:checked + span {
        background-color:#56B5DB;
        color:#fff;
    }
}
