.line_code {
    display: inline-block;
    border: none;
    border-radius: 3em;// more than line-height + 2 * padding to have circle borders
    line-height: 1.2em;
    min-width: 1.2em;// min-width == line-height to have a circle if small enough
    text-align: center;// to have the code centered if smaller than min-width
    padding: 0.4em;
}

div.object {
    margin: 1ex 0 1ex 2ex;
    padding: 0;
    border-style: solid;
    border-width: 0.1ex 0 0.1ex 0.1ex;
    border-color: $gray;
    background-color: $light-gray;

    div.head {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        border-style: none;
        background-color: white;
    }
    div.name, div.button, div.summary {
        border-style: none;
        margin: 1ex;
    }
    div.name {
        font-weight: bold;
    }
    div.summary {
        flex: 1;
    }
    div.data {
        border-style: none;
        margin: 0;
        padding: 0;
    }
    div.data > div {
        border-style: solid;
        border-width: 0.1ex 0 0 0;
        border-color: $gray;
        margin: 0;
        padding: 0;
    }
    div.not_filled {
        display: none;
    }

    div.leaflet {
        height: 80vh;
    }
    
    div.table {
        overflow-x: auto;
        padding: 1ex 0 1ex 2ex;
            
        table {
            background-color: white;
            border-spacing: 0;
            border-collapse: collapse;
            text-align: center;
      
            th {
                font-weight: bold;
                padding: 0.5ex;
                border: 0.1ex solid $gray;
                color: inherit;
            }
             
            td {
                padding: 0.5ex;
                border: 0.1ex solid $gray;
            }
            
            td.stop-point {
                text-align: right;
            }
            
            td.time {
                text-align: left;
            }
        }
    }
}

#data > div {
    margin: 0;
    border-width: 0.1ex;
}
