#status {
    margin: 0 0 3em 0;
    text-align: center;
}
.map-marker-label {
	background: rgb(53, 53, 53);
	border-color: rgb(53, 53, 53);
	color: white;
}
.leaflet-control-layers-toggle {
    background-image: url(../lib/img/leaflet/dist/images/layers.png);
}
.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url(../lib/img/leaflet/dist/images/layers-2x.png);
}
