div.object {
    margin: 1ex;
    padding: 0;
    border-style: solid;
    border-width: 0.1ex;
    border-color: #DEDEDE;

    div.head {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        border-style: none;
        background-color: white;
    }
    div.name, div.button, div.summary {
        border-style: none;
        margin: 1ex;
    }
    div.name {
        font-weight: bold;
    }
    div.summary {
        flex: 1;
    }
    div.data {
        background-color: #F5F5F5;
        border-style: none;
        margin: 0;
        padding: 0;
        overflow-x: auto;
    }
    div.data > div {
        border-style: solid;
        border-width: 0.1ex 0 0 0;
        border-color: #DEDEDE;    
        margin: 0;
        padding: 0;
    }
    div.not_filled {
        display: none;
    }

    .line_code {
        display: inline-block;
        border: none;
        border-radius: 2em;// more than line-heght + 2 * padding to have circle borders
        line-height: 1.2em;
        min-width: 1.2em;// min-width == line-height to have a circle if small enough
        text-align: center;// to have the code centered if smaller than min-width
        padding: 0.4em;
    }
}
