body {
    background-color: #F5F5F5;
    margin: 0em;
    font-family: 'OpenSans', sans-serif;
    font-size: 100%;
    color: #4e4e4e;
}

header{
	width: 100%;
	background-color: #ffffff;
	margin: 0em;
}

img {
    display: block;
}

h2{
	line-height: 1em;
	padding: 1.5em 0em 1em 0.5em;
	margin: 0em; 
}

#colun{
	background: #EFEFEF;
	float: left;
	width: 17.5em;
	margin: 1em 0.5 1em 1em;
	padding: 1em;
}

#coldeux{
	float: left; 
}

#api, #token, #route, #parameterList, #requestUrl, input.key, input.value {
	display: list-item;
	list-style-type: none;
}

input{
	height: 5ex;
	width: 100%;
	padding: 0em 0em 0em 0.5em;
	margin-bottom: 0.5em;
}

button{
	height: 4.5ex;
	width: 100%;
	border: none;
	border-radius: 0.25em;
	color: #fff;
	background: #56b5db;
}

button.code, button.summary, button.delete, button.add{
	width: 4.5ex;
	margin: 0em 0em 0.5em 0em;
}

button.submit, input{
	margin: 0em 0em 0.5em 0em;
}

#seeurl, #urlForm{
	background: #EFEFEF;
	margin: 1em;
	padding: 1em;
}

#requestUrl, #urlDynamic{
	display: inline-block;
}

#requestUrl{
	color: #353535;  
}

#response{
	margin: 0em 1em 0em 1em;
	background: #FFF;
}

#status{
	text-align: center; 
	margin: 1em 0em 1em 0em;
	padding: 2em 0em 1em;
	font-weight: bold;
}

li{
	list-style-type: none;
	margin-left: -2.5em;
}

div.head, span.summary_text{
	margin: 0em 1em 0em 1em;
}

span.name{
	margin: 0em 0.5em 0em 0em;
}

span.name, button.code, button.summary, span.summary_text{
display: inline-table;
}

button.summary, span.summary_text{
	margin: 0em 0.5em 0em 0.5em;
}

div.render{
	border: 1px solid #dedede;
	margin: 0.5em;
	padding: 0.5em 0em 0.5em 0em;
}

#response{
	text-transform: lowercase;
}