body {
    background-color: #F5F5F5;
    margin: 0em;
    font-family: 'OpenSans', sans-serif;
    font-size: 100%;
    color: #4e4e4e;
}
#titre{
	width: 100%;
	background: #EFEFEF;
}

h1{
	color: #353535;
    padding: 1em 0em 0.25em 0em;
    line-height: 1.2em;
    font-weight: normal;
}

p{
	margin: 0em 0.5em 0em 0.5em;
	padding-bottom: 1.5em;
}
.raw{
	margin: 0 auto;
	width: 90%;
	padding-bottom: 1em;
}

.col{
	display: inline-block;
	width: 28%;
	margin: 2.5%;
	padding: 0%;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto
}

h1, h2, p{
	text-align: center;
}

h2{
	font-size: 1.5rem;
    font-weight: normal;
    margin: 1em 0em 1.5em 0em;
}

.liens{
	border: solid 1px green;
	height: 6ex;
}

a{
	float: left;
	width: 80%;
	border-radius: 0.2em;
	margin: 0% 5% 2.5% 8%;
	padding: 0.7em 0em 0.7em 1em;
	background: #FFF;
	font-family: 'OpenSans', sans-serif;
	font-size: 100%;
	text-decoration: none;
	color: #4e4e4e;
}

a:hover{
	background: #bfebfa;
}


@media screen and (max-width: 1150px) {
	.col{
		display: inline-block;
		width: 44.3%;
		margin: 2.5%;
		padding: 0%;
	}
}

@media screen and (max-width: 850px) {
	.raw{
		padding: 1em 0em 1em 0em;
	}

	.col{
		display: inline-block;
		width: 100%;
		margin: 4% 0% 4% 0%; 
	}

	h2{
		margin: 0.5em 0em 0.75em 0em;
	}
}
