#request {

    #credentials, #path, #parameters {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        height: auto;
    }

    .templateInput {
        box-shadow: 0 0 0.5em $dark-blue;
    }

    button::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }

    img.deleteButton {
        vertical-align: text-top;
        height: 1.1em;
    }

    @mixin request-parts($color) {
        .inputDiv {
            border-color: $color;
        }
        .templateInput {
            box-shadow: 0 0 0.5em darken($color, 25%);
        }
        .inputDiv button {
            color: darken($color, 25%);
        }
        .inputDiv button:disabled {
            color: $gray;
        }
    }
    #credentials { @include request-parts($light-orange); }
    #path { @include request-parts($light-green); }
    #parameters { @include request-parts($light-blue); }
    #feature.inputDiv { border-color: $light-purple; }

    #urlDiv {
        width: 100%;
    }
    #requestUrl{
        margin: 0.5em;
        overflow-x: auto;
        a {
            color: inherit;
        }

        @mixin url-colors($color) {
            background-color: $color;

            .focusedParam {
                background-color: darken($color, 25%);
                color: white;
            }
        }

        .api { @include url-colors($light-orange); }
        .path { @include url-colors($light-green); }
        .feature { @include url-colors($light-purple); }
        .parameters { @include url-colors($light-blue); }
    }
    #submitDiv {
        text-align: center;
        margin: 0 0 1.25em 0;
    }
}
