/* ----------------------------
GLOBAL 
-------------------------- */

body {
    background-color: #ededed;
    margin: 0%;
    font-family: 'OpenSans', sans-serif;
    font-size: 100%;
    color: #4e4e4e;
}

header{
	width: 100%;
	background-color: #ffffff;
	margin: 0em;
}

img {
    display: block;
    width: 8em;
  	padding: 1.5em 0em 1.5em 2em;
}

h2{
	line-height: 1em;
	text-align: center;
	font-weight: normal;
	padding: 0em 0em 1em 0em;
	margin: 0em; 
}

#colun{
	float: left;
	width: 25%;
	background: #ededed;
	padding: 0%;
}

/* pour bien caler le contenu de la colonne de gauche */
	#construction{
		padding: 2em;
	}

#coldeux{
	float: left;
	margin: 0%;
	width: 75%;
	background: #fff;
	padding: 0%;
}

p{
	margin: 1.5em 0em 0.5em 0em;
	padding: 1em 0em 0em 0em;
	border-top: 0.1em solid #9F9F9F;
	text-align: center;
}

input{
	height: 5.2ex;
	width: 100%;
	padding: 0em 0em 0em 0.5em;
	margin: 1em 0em 0.5em 0em;
	border: solid 0.1em #DEDEDE;
	background: #FFF;
}

.ui-autocomplete {
    height:auto;
    max-height: 30ex;
    overflow-y:scroll;
}

button{
	height: 5ex;
	width: 50%;
	border: none;
	border-radius: 0.25em;
	color: #fff;
	background: #56b5db;
	text-transform: uppercase;
}

button.submit{
	width: 100%;
	margin: 2em 0em 1em 0em;
}

@media screen and (max-width: 56em) {
	#colun{
		width: 100%; 
	}

	#coldeux{
		width: 100%;
	}
}