#request {

    .inputDiv {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;
        padding: 0em;
        margin: 0.5em 0em 0.5em 0em;
        height: auto;
        border: solid 0.1em #DEDEDE;
        background-color: white;
    }

    input {
        width: 100%;
        min-width: 5em;
        height: auto;
        border: none;
        padding: 0;
        margin: 1ex;
        background-color: inherit;
        font-size: 100%;
    }

    .key{
        margin: 1ex 0 1ex 1ex;
        font-weight: bold;
    }

    img.deleteButton {
        height: 1.2em;
        margin: 0;
        padding: 0;
    }

    button.delete, button.add {
        background-color: inherit;
        color: inherit;
        margin: 0;
        width: auto;
        height: auto;
        padding: 1ex;
        font-weight: bold;
        color: #008ACA;
        text-transform: uppercase;
        font-size: 100%;
    }

    .templateInput {
        background-color: #F18897;
    }
}

/* url is */
#seeurl{
	background: #ededed;
	padding: 2em;
}

#requestUrl{
	padding-bottom: 0.3em;
	border-bottom: solid 0.1em #56b5db;
	line-height: 2.5em;
}

