/* ---------------------------------
AND THE URL IS
--------------------------------- */

#requestUrl{
	padding-bottom: 0.3em;
	border-bottom: solid 1px #56b5db;
	line-height: 2.5em;
}

#seeUrl, #urlForm{
	text-align: center;
	background: #F5F5F5 ;
	padding: 2em 4em 1.4em 4em;
}

#urlFormToken{
	margin-bottom: 3em;
}