@import '../defs';
@import '../global';
@import '../header';

#raw{ 
    display: flex;
    width: 100%;
    height: auto;
    flex-flow: row wrap;
}

.col{
    display: flex;
    width: 65%;
    flex-flow: row wrap;
    background: #F5F5F5;
    padding: 0;
}

#krakensuperhero{
    display: flex;
    flex-flow: row;
    margin: 0 auto;
    width: 21.875em;
    height: 11.813em;
    padding: 2em 0 1em 0;
}

.col > h2{
    width: 100%;
}

h2{
    width: auto;
    font-weight: normal;
    color: #353535;
    text-align: center;
    margin: 0;
    padding: 2em 0;
}

h3{
    font-weight: normal;
    font-size: 100%;
    padding: 0;
    text-align: center;
}

.pictofeatures{
    height: 4em;
    width: 4em;
}

.rubriques{
    display: flex;
    flex-direction: column; 
    padding: 0 1em 1em 1em;
    margin: 0 auto;
    width: 20em;

    a::before {
        float: right;
        content: ">";
    }
}

a{
    display: list-item;
    list-style-type: none;
    font-family: 'OpenSans', sans-serif;
    text-decoration: none;
    text-align: left;
    padding: 0.5em 1em 0.5em 2em;
    margin: 0;
    color: #4e4e4e;
}

a:hover{
    color: #56B5DB;
}

/* ---------------------------------
PRO
--------------------------------- */
#urlForm{
    width: 35%;
    background: #FFF;
    padding-bottom: 2em;
}

#urlForm form{
    text-align: center;
    padding: 1em 0;
    margin: 0;
}

#urlinput{
    width: 100%;
}

#urlDiv.inputDiv{
    margin: 1.2em 2.5em;
    width: auto;
}

#or{
    display: flex;
    flex-flow: row;
    margin: 0 auto;
}

#playground{
    color: #FFF; 
    text-align: center;
    margin: 0;
}

#ou{
    text-align: center;
}

button{
    margin: 0 auto;
}

footer p{
    margin: 0;
    background: #353535;
    color: #aaaaaa;
    font-size: 80%;
    text-align: center;
    padding: 1em 0;
}

footer{
    position: fixed;
    bottom: 0em;
    width: 100%;

}
/* ---------------------------------
RESPONSIVE
--------------------------------- */
@media screen and (max-width: 64em) {
    .col, #urlForm{
        width: 100%;
    }
}