@import '../defs';
@import '../global';

body {
    background-color: #Fff;
    margin: 0;
    font-family: 'OpenSans', sans-serif;
    font-size: 100%;
    color: #4e4e4e;
    background: #EFEFEF;
}

#back{
    padding: 0; 
}

#logo{
    width: 26.563em;
    margin: 0.8em 0;
}

#picto{
    float: left;
    height: 3ex;
    width: 3ex;
    margin: 0;
    padding-top: 1.8em;
}

#doc{
    float: left;
    padding: 1.8em 2em 0 1em; 
    border-top: solid 0.4em #ffffff;
    text-transform: uppercase;
}

#doc:hover{
    border-top: solid 0.4em #56B5DB;
    color: #353535; 
}

#header{
    width: 100%;
    padding: 0;
    margin: 0;
    background: #FFF;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: solid 0.15em #F5F5F5;
}

li{
    list-style: none;
}

#raw{ 
    display: flex;
    width: 100%;
    height: auto;
    flex-flow: row wrap;
}

.col{
    display: flex;
    width: 65%;
    flex-flow: row wrap;
    background: #F5F5F5;
    padding: 0;
}

img{
    display: block;
    margin: 0 auto;
    width: 4em;
    height: 4em;
}

#pro{
    width: 15.625em;
    height: 8.438em;
    margin: 0 auto;
    padding: 2em 0 1em 0;
}

.col > h2{
    width: 100%;
}

h2{
    width: auto;
    font-weight: normal;
    color: #353535;
    text-align: center;
    margin: 0;
    padding: 2em 0;
}

h3{
    font-weight: normal;
    font-size: 100%;
    padding: 0;
    text-align: center;
}

.rubriques{
    display: flex;
    flex-direction: column; 
    padding: 0 1em 1em 1em;
    margin: 0 auto;
    width: 20em;

    a::before {
        float: right;
        content: ">";
    }
}

a{
    display: list-item;
    list-style-type: none;
    font-family: 'OpenSans', sans-serif;
    font-size: 90%;
    text-decoration: none;
    text-align: left;
    padding: 0.5em 1em 0.5em 2em;
    margin: 0;
    color: #4e4e4e;
}

a:hover{
    color: #56B5DB;
}

/* ---------------------------------
PRO
--------------------------------- */
#urlForm{
    width: 35%;
    background: #FFF;
    padding-bottom: 2em;
}

#urlForm form{
    text-align: center;
    padding: 1em 0;
    margin: 0;
}

#urlinput{
    width: 100%;
}

#urlDiv.inputDiv{
    margin: 1.2em 2.5em;
    width: auto;
}

#or{
    display: flex;
    flex-flow: row;
    margin: 0 auto;
}

#playground{
    color: #FFF; 
    text-align: center;
    margin: 0;
}

#ou{
    text-align: center;
}

button{
    margin: 0 auto;
}

footer p{
    margin: 0;
    background: #353535;
    color: #aaaaaa;
    font-size: 80%;
    text-align: center;
    padding: 1em 0;
}

footer{
    position: fixed;
    bottom: 0em;
    width: 100%;

}
/* ---------------------------------
RESPONSIVE
--------------------------------- */
@media screen and (max-width: 64em) {
    .col, #urlForm{
        width: 100%;
    }
}

@media screen and (max-width:62em) {
    #urlheader{
        display: none;
    }
}

@media screen and (max-width:33.438em) {
    #header{
        flex-direction: column;
    }
    #logo{
        float: left;
        margin: 0 0 0 1em;
        width: 15em;
    }
    #picto{
        height: 2.5ex;
        width: 2.5ex;
        margin: 0 auto;
        padding: 0.5em 0.2em 0 1.3em;  
    }
    #doc{
        padding: 0.5em 1em 1em 1em;
        margin: 0 auto; 
        border-bottom: solid 0.4em #ffffff;
        border-top: none;
    }
    #doc:hover{
        border-bottom: solid 0.4em #56B5DB;
        border-top: none;
    }
}